<div class="about-container min-vh-84">
  <div class="content">
    <h1 class="d-flex justify-content-center text-center">About FindMe🔎</h1>

    <div class="pt-3">
      <p class="description">
        FindMe is a cybersecurity tool designed to show you just how much personal information about you is available online. 
        It searches publicly available data sources to raise awareness about the security of personal information in the digital age.
      </p>
      
      <p class="description">
        Our goal is to raise awareness about data privacy and empower individuals to take control of their digital footprints. By using FindMe, users can better understand the risks of sharing personal information and how it could be exposed online.
      </p>
  
      <p class="description">
        This project was developed as part of a <a href="https://www.spur.science/courses/usec/2024/" target="_blank" class="link">CS485 (Usable Security & Privacy)</a> course at the New Jersey Institute of Technology. The course focuses on exploring the balance between usability and security, and FindMe embodies that by presenting personal security risks in a simple and understandable way for users.
      </p>     
      
      <small class="text-secondary">FindMe does not store or log any data of any kind. All processing is done in real-time using publicly accessible information, and no user data is retained or shared. Your privacy and security are at the core of our mission.</small>
    </div>

    <div class="impact">
        <h3 class="subheading">Impact and Future Goals</h3>
        <p class="description">
          FindMe aims to serve as a tool for education and awareness. The more users understand their digital footprints, the more they can take control of their online presence. Our future goals for FindMe include:
        </p>
        <ul class="goal-list">
          <li>Integrating additional data sources for more comprehensive results</li>
          <li>Enhancing user feedback with personalized privacy recommendations</li>
          <li>Providing a platform for users to request the removal of sensitive information</li>
        </ul>
    </div>

    <div class="team">
      <h2 class="subheading">The Team</h2>
      <div>
        <p class="team-member">
          <a href="https://www.linkedin.com/in/vladimir-gutierrez" target="_blank" class="link_no_underline"><strong>Vladimir Gutierrez</strong></a> - Computer Science at NJIT
        </p>
        <p class="team-member">
          <a href="https://www.linkedin.com/in/patrick-kleid" target="_blank" class="link_no_underline"><strong>Patrick Kleid</strong></a> - Computer Science at NJIT
        </p>
      </div>
    </div>
  </div>
</div>
