.main {
    padding: 1.5rem 1.5rem 0rem 1.5rem
}

.banner-alert {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}
