<header class="header">
    <nav class="d-flex justify-content-center align-items-center gap-5">

        <a
            routerLink="/"
            routerLinkActive="active-link"
            class="text-dark nav-link px-5"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Home
        </a>
        
        <a href="https://github.com/Vladimir-G4/findme" target="_blank"  class="logo link_no_underline">FindMe🔎</a>
        
        <a
            routerLink="/about"
            routerLinkActive="active-link"
            class="text-dark nav-link px-5"
        >
            About
        </a>

    </nav>
</header>
